{% extends "shared/_MainLayout.html" %}
{% load static %}

{% block content %}
     <div role="main" class="main">

				<section class="page-header page-header-classic">
					<div class="container">
						<div class="row">
							<div class="col p-static">
								<span class="page-header-title-border visible" style="width: 138.7px;"></span><h1 data-title-border="">User Profile</h1>

							</div>
						</div>
					</div>
				</section>

				<div class="container py-2">

					<div class="row">
						<div class="col-lg-3 mt-4 mt-lg-0">
							<aside class="sidebar mt-2" id="sidebar">
								<ul class="nav nav-list flex-column mb-5">
									<li class="nav-item"><a class="nav-link text-dark" href="/user-panel">User Profile</a></li>
									<li class="nav-item"><a class="nav-link text-dark" href="/user-panel/edit">Edit Profile</a></li>
									<li class="nav-item"><a class="nav-link text-dark active" href="#">Edit Password</a></li>
									<li class="nav-item"><a class="nav-link" href="/order-panel">Cart</a></li>
								</ul>
							</aside>

						</div>
						<div class="col-lg-9">

							<div class="overflow-hidden mb-1">
								<h2 class="font-weight-normal text-7 mb-0"><strong class="font-weight-extra-bold">Edit</strong> Profile</h2>
							</div>
							<div class="overflow-hidden mb-4 pb-3" id="profile">

							</div>

							<form action="/user-panel" role="form" class="needs-validation" novalidate="novalidate">
                                {% csrf_token %}
							    <div class="form-group row">
							        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Old Password</label>
							        <div class="col-lg-9">
                                        <input class="form-control" required="" type="password" value="{{ form_change_password.old_password }}">

							        </div>
							    </div>
							    <div class="form-group row">
							        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">New Password</label>
							        <div class="col-lg-9">
                                        <input class="form-control" required="" type="password" value="{{ form_change_password.new_password1 }}">

							        </div>
							    </div>
							    <div class="form-group row">
							        <label class="col-lg-3 font-weight-bold text-dark col-form-label form-control-label text-2 required">Confirm Password</label>
							        <div class="col-lg-9">
                                        <input class="form-control" required="" type="password" value="{{ form_change_password.new_password2 }}">

							        </div>
							    </div>
							    <div class="form-group row">
									<div class="form-group col-lg-9">

									</div>
									<div class="form-group col-lg-3">
										<input type="submit" value="Save" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
									</div>
							    </div>
							</form>

						</div>
					</div>

				</div>

			</div>
{% endblock %}