{% extends "shared/_MainLayout.html" %}
{% load render_partial %}
{% load static %}

{% block content %}
    <div class="container py-4">

        <div class="row">
            {% render_partial "shop_blog.views.blog_sidebar" %}
            <div class="col-lg-9">
                <div class="blog-posts single-post">

                    <article class="post post-large blog-single-post border-0 m-0 p-0">
                        <div class="post-image ml-0">
                            <a href="{{ detail.get_blog_url }}">
                                <img src="{{ detail.image.url }}"
                                     class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                                     alt="{{ detail.title }}">
                            </a>
                        </div>

                        <div class="post-date ml-0">
                            <span class="day">{{ detail.published_date.day }}</span>
                            <span class="month">{{ detail.published_date.month }}</span>
                        </div>

                        <div class="post-content ml-0">

                            <h2 class="font-weight-bold"><a href="{{ detail.get_blog_url }}">{{ detail.title }}</a></h2>

                            <div class="post-meta">
                                <span><i class="far fa-user"></i> By {{ detail.author.get_full_name }} </span>
                                <span><i class="far fa-comments"></i> {{ comments.count }} Comments</span>
                            </div>

                            <p>{{ detail.description }}</p>


                        </div>

                        <div class="post-block mt-4 pt-2 post-author">
                            <h4 class="mb-3">Author</h4>
                            <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
                                <img src="{% static 'img/avatars/avatar.jpg' %}" alt="">
                            </div>
                            <p><strong class="name"><a href="#" class="text-4 pb-2 pt-2 d-block">John
                                Doe</a></strong></p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
                                gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et,
                                interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare
                                nisi, vitae mattis nulla ante id dui. </p>
                        </div>

                        <div id="comments" class="post-block mt-5 post-comments">
                            <h4 class="mb-3">Comments ({{ comments.count }})</h4>

                            <ul class="comments">
                                {% for comment in comments %}
                                    <li>
                                    <div class="comment">
                                        <div class="comment-block">
                                            <div class="comment-arrow"></div>
                                            <span class="comment-by">
																<strong>{{ comment.full_name }}</strong>
															</span>
                                            <p>{{ comment.comment }}</p>
                                            <span class="date float-right">{{ comment.comment_date }}</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}

                            </ul>

                        </div>

                        <div class="post-block mt-5 post-leave-comment">
                            <h4 class="mb-3">Leave a comment</h4>

                            <form id="contactForm" class="contact-form p-4 rounded bg-color-grey"
                                  method="POST">
                                {% csrf_token %}
                                {{ blog_form.blog_id }}
                                <div class="p-2">
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            <label class="required font-weight-bold text-dark">{{ blog_form.full_name.label }}</label>
                                            {{ blog_form.full_name }}
                                            {% for error in blog_form.full_name.errors %}
                                                <p class="alert alert-danger">{{ error }}</p>
                                            {% endfor %}

                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label class="required font-weight-bold text-dark">{{ blog_form.email.label }}</label>
                                            {{ blog_form.email }}
                                            {% for error in blog_form.email.errors %}
                                                <p class="alert alert-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label class="required font-weight-bold text-dark">{{ blog_form.comment.label }}</label>
                                            {{ blog_form.comment }}
                                            {% for error in blog_form.comment.errors %}
                                                <p class="alert alert-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col mb-0">
                                            <input type="submit" value="Post Comment"
                                                   class="btn btn-primary btn-modern"
                                                   data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </article>
                </div>
                </article>

            </div>
        </div>
    </div>

    </div>
{% endblock %}